<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>Game 2042 CTU</name>

<description>
Trò chơi trí tuệ nhân tạo
</description>

<author href="https://example.com" email="you@example.com">
Một trò chơi của GMT Solution
</author>
<platform name="android">
  <icon background="favicon.ico" density="ldpi" foreground="favicon.ico" />
  <icon background="favicon.ico" density="mdpi" foreground="favicon.ico" />
  <icon background="favicon.ico" density="hdpi" foreground="favicon.ico" />
  <icon background="favicon.ico" density="xhdpi" foreground="favicon.ico" />
  <icon background="favicon.ico" density="xxhdpi" foreground="favicon.ico" />
  <icon background="favicon.ico" density="xxxhdpi" foreground="favicon.ico" />
</platform>

</widget>
